<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Specific candidate</title>
</head>
<body>
    <table style="text-align: center">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td th:text="${candidate.id}">1</td>
                <td th:text="${candidate.firstName}">a</td>
                <td th:text="${candidate.lastName}"a></td>
                <td th:text="${candidate.age}">2</td>
                <td th:text="${candidate.email}">a</td>
                <td th:text="${candidate.gender}">a</td>
                <td th:text="${candidate.phoneNumber}">a</td>
                <td><a href="#" th:href="@{'/api/candidates/' + ${candidate.id} + '/register'}">Register Course</a></td>
                <td><a href="#" th:href="@{'/api/candidates/' + ${candidate.id} + '/img'}">Upload Img</a></td>
            </tr>
        </tbody>
        <table>
            <thead><h1>Courses</h1></thead>
            <tbody th:each="course : ${candidate.getRegistration().getCourses()}">
                <tr>
                    <td th:text="${course.id}"></td>
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.type}"></td>
                </tr>
            </tbody>
        </table>
    </table>
</body>
</html>