<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidates</title>
</head>
<body>
<table style="text-align: center">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody th:each="candidate : ${candidates}">
        <tr>
            <td th:text="${candidate.id}">a</td>
            <td th:text="${candidate.firstName}">a</td>
            <td th:text="${candidate.lastName}">a</td>
            <td th:text="${candidate.age}">a</td>
            <td th:text="${candidate.email}">a</td>
            <td th:text="${candidate.gender}">a</td>
            <td th:text="${candidate.phoneNumber}">a</td>
            <td><a href="#" th:href="@{'/api/candidates/'+${candidate.id}}">panel</a></td>
        </tr>
    </tbody>
</table>
    <button onClick="window.location.href='http://localhost:8080/api/create'">New candidate</button>
</body>
</html>