<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrations</title>
</head>
<body>
<table style="text-align: center">
    <thead>
    <tr>
        <th>ID</th>
        <th>date</th>
        <th>Candidate_ID</th>
    </tr>
    </thead>
    <tbody th:each="registration : ${registrations}">
    <tr>
        <td th:text="${registration.id}"></td>
        <td th:text="${registration.date}"></td>
        <td th:text="${registration.candidate.id}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>